@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
:root {
  --accent: hsl(0deg, 72%, 60%);
  --angle: 90deg;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header .header-title {
  flex: 1;
  background-color: var(--accent);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  font-family: "Lilita One", serif;

  h1 {
    font-size: 14em;
    background: linear-gradient(var(--angle), #ccc, #fff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
  }
}

.header .header-socials {
  flex: 1;
  align-items: center;

  display: flex;
  gap: 2.5rem;
  font-size: 2rem;
  justify-content: center;

  a {
    color: var(--accent);
    cursor: pointer;
    animation: fadeUp 300ms ease-in-out forwards;
    opacity: 0;
  }

  a:hover {
    transform: scale(1.25);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(1.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
